In [1]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine, text
import json
import config
import numpy as np
from pathlib import Path
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

# Exploratory Data Analysis

- [ETL](#etl)
- [Analysis](#analysis)

In [2]:
"""
Exploratory Data Analysis (EDA) for Capital Crashpad Listings
This notebook ingests, combines, and inspects Airbnb listings data across multiple quarterly snapshots.
- Scans all available quarter directories and parses them into sortable time indices.
- Loads each quarter’s listings_detailed.csv, annotates with quarter and index, and concatenates into a single DataFrame.
- Provides initial checks on data shape, column consistency, and missing columns across quarters.
- Lays the foundation for further cleaning, normalization, and time-series analysis of the DC Airbnb market.
"""


def parse_quarter(folder_name):
    # e.g. '2024_sep' → '2024_Q3'
    year, month = folder_name.split("_")
    month_to_q = {"mar": "Q1", "jun": "Q2", "sep": "Q3", "dec": "Q4"}
    return f"{year}_{month_to_q[month.lower()]}"


DATA_DIR = Path("../resources/data/raw_data")


def load_quarterly_csv(filename, data_dir=DATA_DIR):
    """
    Loads and annotates a quarterly CSV file from each quarter folder.
    Adds 'quarter' and 'quarter_index' columns to each DataFrame.
    Returns a concatenated DataFrame for all quarters.
    """
    # Prepare quarter sorting
    month_to_qnum = {"mar": 1, "jun": 2, "sep": 3, "dec": 4}
    quarter_tuples = []
    for p in data_dir.iterdir():
        if p.is_dir():
            year, month = p.name.split("_")
            qnum = month_to_qnum[month.lower()]
            quarter_tuples.append((p.name, int(year), qnum))
    quarters_sorted = [t[0] for t in sorted(quarter_tuples, key=lambda x: (x[1], x[2]))]

    # Load and annotate each CSV
    dfs = []
    for i, q_folder in enumerate(quarters_sorted):
        csv_path = data_dir / q_folder / filename
        if not csv_path.exists():
            print(f"Missing: {csv_path}")
            continue
        df = pd.read_csv(csv_path)
        df["quarter"] = parse_quarter(q_folder)
        df["quarter_index"] = i
        dfs.append(df)
        print(f"Loaded {q_folder} with {df.shape[0]} rows.")

    if dfs:
        df_all = pd.concat(dfs, ignore_index=True)
        print("Shape:", df_all.shape)
        print("Columns:", df_all.columns.tolist())
        print("Missing columns by quarter:")
        for i, q_folder in enumerate(quarters_sorted):
            csv_path = data_dir / q_folder / filename
            if csv_path.exists():
                df = pd.read_csv(csv_path, nrows=1)
                print(f"{q_folder}: {set(df_all.columns) - set(df.columns)}")
        return df_all
    else:
        return pd.DataFrame()  # empty if nothing loaded

In [3]:
"""
Connects to a PostgreSQL database, loads schema, and provides a utility to export DataFrames.

- Establishes a SQLAlchemy engine using credentials from the config file.
- Defines a function to:
    - Save a DataFrame as a CSV backup.
    - Delete all rows from the target table.
    - Load the DataFrame into the specified PostgreSQL table.
- Loads and executes SQL schema statements from a file to create all required tables.
- Confirms successful table creation by listing all tables in the public schema.
"""

# connect to database
db_url = (
    f"postgresql://postgres:{config.password}@localhost:5432/{config.database_2026}"
)
engine = create_engine(db_url)


# function to load table into postgres db, save backup csv
def to_sql_and_csv(table_name, df):
    # write to csv
    df.to_csv(
        f"../resources/data/cleaned_data/2026/{table_name}_cleaned.csv", index=False
    )
    # load into postgres db
    with engine.begin() as conn:
        conn.execute(text(f"DELETE FROM {table_name}"))
        df.to_sql(table_name, conn, if_exists="append", index=False)


# load schema into postgres db

# load sql schema, split by ; and run each statement
# to create tables in postgres
with engine.connect() as conn:
    with open("./schema_2026.sql", "r") as file:
        queries = file.read().split(";")
        for query in queries:
            # strip whitespace and ignore empty queries
            if query.strip() != "":
                conn.execute(text(query))
                conn.commit()


# confirm tables are created
with engine.connect() as conn:
    result = conn.execute(
        text(
            "SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'"
        )
    )
    print(f"Tables in database: {result.fetchall()}")

Tables in database: [('listings_long',), ('calendar_summary',), ('reviews_summary',)]

# ETL
- [Back to Top](#)

Extract, Transform, Load

### Listings

In [4]:
# load listings data
listings_raw = load_quarterly_csv("listings_detailed.csv")

Loaded 2023_jun with 6541 rows.
Loaded 2023_sep with 6705 rows.
Loaded 2023_dec with 6853 rows.
Loaded 2024_mar with 6705 rows.
Loaded 2024_jun with 4928 rows.
Loaded 2024_sep with 5454 rows.
Loaded 2024_dec with 5964 rows.
Loaded 2025_mar with 6257 rows.
Loaded 2025_jun with 6423 rows.
Loaded 2025_sep with 6374 rows.
Shape: (62204, 81)
Columns: ['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name', 'description', 'neighborhood_overview', 'picture_url', 'host_id', 'host_url', 'host_name', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price', 'minimum_nights', 'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'calendar_last_scraped', 'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'license', 'instant_bookable', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'reviews_per_month', 'quarter', 'quarter_index', 'availability_eoy', 'number_of_reviews_ly', 'estimated_occupancy_l365d', 'estimated_revenue_l365d']
Missing columns by quarter:
2023_jun: {'estimated_revenue_l365d', 'quarter', 'quarter_index', 'availability_eoy', 'estimated_occupancy_l365d', 'number_of_reviews_ly'}
2023_sep: {'estimated_revenue_l365d', 'quarter', 'quarter_index', 'availability_eoy', 'estimated_occupancy_l365d', 'number_of_reviews_ly'}
2023_dec: {'estimated_revenue_l365d', 'quarter', 'quarter_index', 'availability_eoy', 'estimated_occupancy_l365d', 'number_of_reviews_ly'}
2024_mar: {'estimated_revenue_l365d', 'quarter', 'quarter_index', 'availability_eoy', 'estimated_occupancy_l365d', 'number_of_reviews_ly'}
2024_jun: {'estimated_revenue_l365d', 'quarter', 'quarter_index', 'availability_eoy', 'estimated_occupancy_l365d', 'number_of_reviews_ly'}
2024_sep: {'estimated_revenue_l365d', 'quarter', 'quarter_index', 'availability_eoy', 'estimated_occupancy_l365d', 'number_of_reviews_ly'}
2024_dec: {'estimated_revenue_l365d', 'quarter', 'quarter_index', 'availability_eoy', 'estimated_occupancy_l365d', 'number_of_reviews_ly'}
2025_mar: {'quarter_index', 'quarter'}
2025_jun: {'quarter_index', 'quarter'}
2025_sep: {'quarter_index', 'quarter'}

In [5]:
"""
Dictionary adding minimal geographic context to neighbourhood names
"""

# dict for updating neighbourhood names
neighbourhoods_dict = {
    "Historic Anacostia": "SE Historic Anacostia",
    "Edgewood, Bloomingdale, Truxton Circle, Eckington": "NE/NW Edgewood, Bloomingdale, Truxton Circle, Eckington",
    "Capitol Hill, Lincoln Park": "SE Capitol Hill, Lincoln Park",
    "Eastland Gardens, Kenilworth": "NE Eastland Gardens, Kenilworth",
    "Kalorama Heights, Adams Morgan, Lanier Heights": "NW-mid Kalorama Heights, Adams Morgan, Lanier Heights",
    "Brightwood Park, Crestwood, Petworth": "NW-mid Brightwood Park, Crestwood, Petworth",
    "Spring Valley, Palisades, Wesley Heights, Foxhall Crescent, Foxhall Village, Georgetown Reservoir": "NW-far Spring Valley, Palisades, Wesley Heights, Foxhall Crescent, Foxhall Village, Georgetown Reservoir",
    "Cathedral Heights, McLean Gardens, Glover Park": "NW-far Cathedral Heights, McLean Gardens, Glover Park",
    "Lamont Riggs, Queens Chapel, Fort Totten, Pleasant Hill": "NE/NW Lamont Riggs, Queens Chapel, Fort Totten, Pleasant Hill",
    "Shaw, Logan Circle": "NW-mid Shaw, Logan Circle",
    "Howard University, Le Droit Park, Cardozo/Shaw": "NW-mid Howard University, Le Droit Park, Cardozo/Shaw",
    "Takoma, Brightwood, Manor Park": "NW-mid Takoma, Brightwood, Manor Park",
    "Colonial Village, Shepherd Park, North Portal Estates": "NW-mid Colonial Village, Shepherd Park, North Portal Estates",
    "Dupont Circle, Connecticut Avenue/K Street": "NW-mid Dupont Circle, Connecticut Avenue/K Street",
    "Capitol View, Marshall Heights, Benning Heights": "SE Capitol View, Marshall Heights, Benning Heights",
    "Downtown, Chinatown, Penn Quarters, Mount Vernon Square, North Capitol Street": "NW-mid Downtown, Chinatown, Penn Quarters, Mount Vernon Square, North Capitol Street",
    "Union Station, Stanton Park, Kingman Park": "NE Union Station, Stanton Park, Kingman Park",
    "Georgetown, Burleith/Hillandale": "NW-far Georgetown, Burleith/Hillandale",
    "Columbia Heights, Mt. Pleasant, Pleasant Plains, Park View": "NW-mid Columbia Heights, Mt. Pleasant, Pleasant Plains, Park View",
    "Douglas, Shipley Terrace": "SE Douglas, Shipley Terrace",
    "Cleveland Park, Woodley Park, Massachusetts Avenue Heights, Woodland-Normanstone Terrace": "NW-far Cleveland Park, Woodley Park, Massachusetts Avenue Heights, Woodland-Normanstone Terrace",
    "River Terrace, Benning, Greenway, Dupont Park": "NE/SE River Terrace, Benning, Greenway, Dupont Park",
    "Friendship Heights, American University Park, Tenleytown": "NW-far Friendship Heights, American University Park, Tenleytown",
    "West End, Foggy Bottom, GWU": "NW-mid West End, Foggy Bottom, GWU",
    "Southwest Employment Area, Southwest/Waterfront, Fort McNair, Buzzard Point": "SW Southwest Employment Area, Southwest/Waterfront, Fort McNair, Buzzard Point",
    "Hawthorne, Barnaby Woods, Chevy Chase": "NW-far Hawthorne, Barnaby Woods, Chevy Chase",
    "North Michigan Park, Michigan Park, University Heights": "NE North Michigan Park, Michigan Park, University Heights",
    "North Cleveland Park, Forest Hills, Van Ness": "NW-far North Cleveland Park, Forest Hills, Van Ness",
    "Brookland, Brentwood, Langdon": "NE Brookland, Brentwood, Langdon",
    "Twining, Fairlawn, Randle Highlands, Penn Branch, Fort Davis Park, Fort Dupont": "SE Twining, Fairlawn, Randle Highlands, Penn Branch, Fort Davis Park, Fort Dupont",
    "Mayfair, Hillbrook, Mahaning Heights": "NE Mayfair, Hillbrook, Mahaning Heights",
    "Ivy City, Arboretum, Trinidad, Carver Langston": "NE Ivy City, Arboretum, Trinidad, Carver Langston",
    "Fairfax Village, Naylor Gardens, Hillcrest, Summit Park": "SE Fairfax Village, Naylor Gardens, Hillcrest, Summit Park",
    "Near Southeast, Navy Yard": "SE Near Southeast, Navy Yard",
    "Congress Heights, Bellevue, Washington Highlands": "SE Congress Heights, Bellevue, Washington Highlands",
    "Sheridan, Barry Farm, Buena Vista": "SE Sheridan, Barry Farm, Buena Vista",
    "Woodridge, Fort Lincoln, Gateway": "NE Woodridge, Fort Lincoln, Gateway",
    "Woodland/Fort Stanton, Garfield Heights, Knox Hill": "SE Woodland/Fort Stanton, Garfield Heights, Knox Hill",
    "Deanwood, Burrville, Grant Park, Lincoln Heights, Fairmont Heights": "NE Deanwood, Burrville, Grant Park, Lincoln Heights, Fairmont Heights",
}

Note the boolean flags here. I'm defining "likely commercial" as:  
1. An entire home/apartment
1. AND the host has 2 or more listings
1. AND it's available more than 180 days/year.  

Could change those. Probably will, just to see.

In [6]:
"""
Clean and normalize key columns in the Airbnb listings DataFrame.

- Cleans the 'price' column by removing currency symbols and commas, converting to float.
- Standardizes neighborhood names using a mapping dictionary.
- Cleans and categorizes the 'license' column into standardized categories.
- Adds boolean columns for common analysis flags:
    - is_entire_home: True if listing is an entire home/apartment.
    - is_multi_listing_host: True if host has 2 or more listings.
    - is_high_availability: True if listing is available more than 180 days/year.
    - likely_commercial: True if listing meets all three criteria above.
- Prints summary information about cleaned columns and unique values.
"""

# clean price column
listings_raw.price = (
    listings_raw.price.str.replace("$", "").str.replace(",", "").astype(float)
)

# rename neighborhoods
listings_raw["neighbourhood_cleansed"] = listings_raw.neighbourhood_cleansed.replace(
    neighbourhoods_dict
)


# categorizing license status
# Hosted License: 5007242201001033 => Hosted License
def clean_license_column(series):
    def categorize_license(license):
        if pd.isna(license) or not str(license).strip():
            return "No License"
        license_clean = str(license).split(":")[0].strip().lower()
        if license_clean in ["hosted license", "unhosted license"]:
            return "Licensed"
        elif license_clean == "exempt":
            return "Exempt"
        else:
            return "No License"

    return series.apply(categorize_license)


# replace license column with cleaned/categorized values
listings_raw["license"] = clean_license_column(listings_raw["license"])

# add booleans for likely commercial listings
listings_raw["is_entire_home"] = listings_raw["room_type"] == "Entire home/apt"
listings_raw["is_multi_listing_host"] = (
    listings_raw["calculated_host_listings_count"] >= 2
)
listings_raw["is_high_availability"] = listings_raw["availability_365"] > 180
listings_raw["likely_commercial"] = (
    listings_raw["is_entire_home"]
    & listings_raw["is_high_availability"]
    & listings_raw["is_multi_listing_host"]
)

# check output
print(f"Price column dtype: {listings_raw.price.dtype}\n")
print(f"Neighbourhoods: {listings_raw.neighbourhood_cleansed.unique()}\n")
print(f"License types: {listings_raw.license.unique()}\n")
print(
    f"Number of unique neighbourhoods: {len(listings_raw.neighbourhood_cleansed.unique())}"
)

Price column dtype: float64

Neighbourhoods: ['SE Historic Anacostia'
 'NE/NW Edgewood, Bloomingdale, Truxton Circle, Eckington'
 'NW-mid Columbia Heights, Mt. Pleasant, Pleasant Plains, Park View'
 'NW-mid Brightwood Park, Crestwood, Petworth'
 'SE Capitol Hill, Lincoln Park' 'NW-mid Takoma, Brightwood, Manor Park'
 'NE Ivy City, Arboretum, Trinidad, Carver Langston'
 'NW-far Friendship Heights, American University Park, Tenleytown'
 'NW-mid Kalorama Heights, Adams Morgan, Lanier Heights'
 'NW-mid Shaw, Logan Circle'
 'NW-far Spring Valley, Palisades, Wesley Heights, Foxhall Crescent, Foxhall Village, Georgetown Reservoir'
 'NW-far Cathedral Heights, McLean Gardens, Glover Park'
 'SE Congress Heights, Bellevue, Washington Highlands'
 'NW-mid West End, Foggy Bottom, GWU'
 'NW-mid Colonial Village, Shepherd Park, North Portal Estates'
 'NE Brookland, Brentwood, Langdon'
 'NE/NW Lamont Riggs, Queens Chapel, Fort Totten, Pleasant Hill'
 'NE Union Station, Stanton Park, Kingman Park'
 'NW-mid Dupont Circle, Connecticut Avenue/K Street'
 'NW-mid Howard University, Le Droit Park, Cardozo/Shaw'
 'NW-far Georgetown, Burleith/Hillandale'
 'SE Capitol View, Marshall Heights, Benning Heights'
 'SW Southwest Employment Area, Southwest/Waterfront, Fort McNair, Buzzard Point'
 'NW-far Hawthorne, Barnaby Woods, Chevy Chase'
 'NE North Michigan Park, Michigan Park, University Heights'
 'NW-far North Cleveland Park, Forest Hills, Van Ness'
 'SE Douglas, Shipley Terrace'
 'NW-far Cleveland Park, Woodley Park, Massachusetts Avenue Heights, Woodland-Normanstone Terrace'
 'NW-mid Downtown, Chinatown, Penn Quarters, Mount Vernon Square, North Capitol Street'
 'NE Deanwood, Burrville, Grant Park, Lincoln Heights, Fairmont Heights'
 'NE Mayfair, Hillbrook, Mahaning Heights'
 'SE Fairfax Village, Naylor Gardens, Hillcrest, Summit Park'
 'NE/SE River Terrace, Benning, Greenway, Dupont Park'
 'SE Near Southeast, Navy Yard'
 'SE Twining, Fairlawn, Randle Highlands, Penn Branch, Fort Davis Park, Fort Dupont'
 'SE Sheridan, Barry Farm, Buena Vista' 'NE Eastland Gardens, Kenilworth'
 'SE Woodland/Fort Stanton, Garfield Heights, Knox Hill'
 'NE Woodridge, Fort Lincoln, Gateway']

License types: ['No License' 'Licensed' 'Exempt']

Number of unique neighbourhoods: 39

In [ ]:
# prepare cleaned listings dataframe
listings_clean = listings_raw[
    [
        "id",
        "host_id",
        "quarter",
        "quarter_index",
        "neighbourhood_cleansed",
        "latitude",
        "longitude",
        "price",
        "room_type",
        "minimum_nights",
        "availability_365",
        "calculated_host_listings_count",
        "license",
        "is_entire_home",
        "is_multi_listing_host",
        "is_high_availability",
        "likely_commercial",
    ]
]

# rename columns
listings_clean = listings_clean.rename(
    columns={"id": "listing_id", "neighbourhood_cleansed": "neighborhood"}
)

In [8]:
# load listings_clean into PostgreSQL
to_sql_and_csv("listings_long", listings_clean)

# check it worked
with engine.connect() as conn:
    query = text("SELECT COUNT(*) FROM listings_long")
    result = conn.execute(query)
print(f"Number of listings: {result.fetchone()[0]}")

Number of listings: 62204

### Calendar

N.B. - Calendar for June of 2025 is blank. Data unavialable.

In [9]:
# load calendar data
calendar_raw = load_quarterly_csv("calendar.csv")

Loaded 2023_jun with 2387122 rows.
Loaded 2023_sep with 2447281 rows.
Loaded 2023_dec with 2500945 rows.
Loaded 2024_mar with 1650480 rows.
Loaded 2024_jun with 1798300 rows.
Loaded 2024_sep with 1990300 rows.
Loaded 2024_dec with 2176398 rows.
Loaded 2025_mar with 2282941 rows.
Loaded 2025_jun with 0 rows.
Loaded 2025_sep with 2329437 rows.

C:\Users\johbr\AppData\Local\Temp\ipykernel_24736\3529734324.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_all = pd.concat(dfs, ignore_index=True)

Shape: (19563204, 9)
Columns: ['listing_id', 'date', 'available', 'price', 'adjusted_price', 'minimum_nights', 'maximum_nights', 'quarter', 'quarter_index']
Missing columns by quarter:
2023_jun: {'quarter_index', 'quarter'}
2023_sep: {'quarter_index', 'quarter'}
2023_dec: {'quarter_index', 'quarter'}
2024_mar: {'quarter_index', 'quarter'}
2024_jun: {'quarter_index', 'quarter'}
2024_sep: {'quarter_index', 'quarter'}
2024_dec: {'quarter_index', 'quarter'}
2025_mar: {'quarter_index', 'quarter'}
2025_jun: {'quarter_index', 'quarter'}
2025_sep: {'quarter_index', 'quarter'}

In [10]:
"""
Summarizes Airbnb calendar data and loads results into PostgreSQL.

- Converts the 'available' column from 't'/'f' to 1/0 for numeric analysis.
- Groups by listing, quarter, and quarter_index to compute:
    - mean_available_days: Average availability per listing per quarter.
    - pct_days_available: Percentage of days available per listing per quarter.
    - max_consecutive_available_days: Maximum consecutive available days per listing per quarter.
- Loads the summary DataFrame into the 'calendar_summary' table in PostgreSQL.
- Verifies successful load by checking row count and previewing sample rows from the database.
"""


def max_consecutive_available(arr):
    # arr: 1D array of 0/1
    max_count = count = 0
    for val in arr:
        if val == 1:
            count += 1
            max_count = max(max_count, count)
        else:
            count = 0
    return max_count


# convert available from t/f to 1/0 boolean
calendar_raw["available"] = (
    calendar_raw["available"]
    .map({"t": 1, "f": 0})
    .fillna(calendar_raw["available"])
    .astype(int)
)

# summarize availability by listing and quarter
calendar_summary = (
    calendar_raw.sort_values(["listing_id", "quarter", "date"])
    .groupby(["listing_id", "quarter", "quarter_index"])
    .agg(
        mean_available_days=("available", "mean"),
        pct_days_available=("available", lambda x: x.mean() * 100),
        max_consecutive_available_days=(
            "available",
            lambda x: max_consecutive_available(x.values),
        ),
    )
    .reset_index()
)

print(f"Number of rows in calendar_summary: {len(calendar_summary)}")

# load calendar_summary into database
to_sql_and_csv("calendar_summary", calendar_summary)

# check it worked
with engine.connect() as conn:
    query = text("SELECT COUNT(*) FROM calendar_summary")
    result = conn.execute(query)
print(f"Number of rows in PostgreSQL calendar_summary: {result.fetchone()[0]}")

with engine.connect() as conn:
    query = text("SELECT * FROM calendar_summary LIMIT 5")
    result = conn.execute(query)
    for row in result.fetchall():
        print(row)

Number of rows in calendar_summary: 53606
Number of rows in PostgreSQL calendar_summary: 53606
(3344, '2025_Q3', 9, Decimal('0.9917808219178083'), Decimal('99.17808219178083'), Decimal('362'))
(3686, '2023_Q2', 0, Decimal('0.7589041095890411'), Decimal('75.89041095890411'), Decimal('261'))
(3686, '2023_Q3', 1, Decimal('0.7424657534246575'), Decimal('74.24657534246575'), Decimal('271'))
(3686, '2023_Q4', 2, Decimal('1.0'), Decimal('100.0'), Decimal('365'))
(3686, '2024_Q1', 3, Decimal('1.0'), Decimal('100.0'), Decimal('365'))

### Reviews

In [11]:
# prepare reviews_summary
reviews_summary = listings_raw[
    [
        "id",
        "quarter",
        "quarter_index",
        "number_of_reviews",
        "number_of_reviews_ltm",
        "number_of_reviews_l30d",
        "reviews_per_month",
        "first_review",
        "last_review",
    ]
]

reviews_summary = reviews_summary.rename(
    columns={
        "id": "listing_id",
        "number_of_reviews": "reviews_count",
        "number_of_reviews_ltm": "reviews_count_ltm",
        "number_of_reviews_l30d": "reviews_count_l30d",
    }
)

print(f"Number of rows in reviews_summary: {len(reviews_summary)}")

# load review summary into PostgreSQL
to_sql_and_csv("reviews_summary", reviews_summary)

# check it loaded
# check it worked
with engine.connect() as conn:
    query = text("SELECT COUNT(*) FROM reviews_summary")
    result = conn.execute(query)
print(f"Number of rows in PostgreSQL reviews_summary: {result.fetchone()[0]}")

with engine.connect() as conn:
    query = text("SELECT * FROM reviews_summary LIMIT 5")
    result = conn.execute(query)
    for row in result.fetchall():
        print(row)

Number of rows in reviews_summary: 62204
Number of rows in PostgreSQL reviews_summary: 62204
(3686, '2023_Q2', 0, 82, 3, 0, Decimal('0.53'), datetime.date(2010, 11, 1), datetime.date(2023, 3, 8))
(3943, '2023_Q2', 0, 472, 31, 2, Decimal('2.75'), datetime.date(2009, 5, 10), datetime.date(2023, 5, 24))
(883653, '2023_Q2', 0, 35, 2, 0, Decimal('0.28'), datetime.date(2013, 4, 1), datetime.date(2022, 10, 10))
(153545, '2023_Q2', 0, 38, 1, 0, Decimal('0.27'), datetime.date(2011, 9, 15), datetime.date(2022, 6, 21))
(4197, '2023_Q2', 0, 53, 8, 1, Decimal('0.31'), datetime.date(2009, 5, 14), datetime.date(2023, 5, 27))

# Analysis
- [Back to Top](#)